h3{
  font-size: 30px;
  text-align: center;
}

#Naam{
  text-align: left;
}

div #attracties{
  font-size: 16px;
}

.attracties{
  list-style-type: none;
}

.attractie-box {
  margin: 30px;
  margin-left: 100px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  max-width: 800px;
}

button {
  font-size: 15px;
  margin: 30px;
  margin-left: 0px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  max-width: 800px;
}

p{
  font-size: 19px;
  font-family: Times New Roman;
  margin-top: 30px;
  margin-bottom: 10px;
}

.error-message {
  font-size: 17px;
  color: red; 
}